<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745050409238-ieilr6it1lhsj6oauubqt8qeba0u7sef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745050409238-ieilr6it1lhsj6oauubqt8qeba0u7sef</string>
	<key>API_KEY</key>
	<string>AIzaSyDOv2DXy748CcFvb_V3pDqnsDap6cs8HDk</string>
	<key>GCM_SENDER_ID</key>
	<string>745050409238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CasualRei-.flowCalc</string>
	<key>PROJECT_ID</key>
	<string>espresso-logg</string>
	<key>STORAGE_BUCKET</key>
	<string>espresso-logg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745050409238:ios:59d9617f5fa3d1b506a837</string>
</dict>
</plist>